.fun1 {
    background-color: green;
    color:white;
    width:20%;
    float:left;
    font-size: xx-large;
    height: 60px;
    text-align: center;
}
#fun2 {
    background-color: green;
    color: white;
    font-size:xx-large;
    width:11%;
    text-align: center;
    margin:auto;
}
